DEBUG=False
SECRET_KEY=tu-secret-key-aqui-cambialo
ALLOWED_HOSTS=tudominio.com,www.tudominio.com
CSRF_TRUSTED_ORIGINS=https://tudominio.com,https://www.tudominio.com

DATABASE_URL=postgresql://adminfut_user:password@db:5432/adminfut_db
CLOUDINARY_URL=cloudinary://key:secret@cloudname

# Opcional: si no configuras desde la UI
# FIREBASE_SERVICE_ACCOUNT_BASE64=eyJ0eXBlIjoic2VydmljZV9hY2NvdW50Ii...
