                <a href="{% url 'descargar_rol_facebook' %}" class="btn btn-success">
                    <i class="bi bi-download"></i> Descargar imagen
                </a>
                {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'enviar_rol_por_correo' %}" class="btn btn-outline-primary">
                    <i class="bi bi-envelope-arrow-up"></i> Enviar por correo
                </a>
                {% endif %}
                <a href="{% url 'publicar_rol_facebook_todas' %}" class="btn btn-primary" style="background-color:#1877F2;border-color:#1877F2;color:#fff">
                    <i class="bi bi-facebook"></i> Publicar en Facebook
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>